 body {
    background: #fff;	
    color: #333;
}

#container {
    width: 220px;
    height: 220px;
    margin: 5px auto 5px auto;
    border: #FFF 2px solid;	
	display: block;
}
#progress {
    width: 220px;
    height: 220px;
    margin: 5px auto 5px auto;
    border: 0;	
	display: block;
	text-align: center;
	font-size: 3em;	
}
button{
	width: 100px;
	height: 40px;
	margin: 0 0 0 0;
}
.right{
	margin-left: 10px;
}
.navi{	
	text-align: center;
}
select{
	width: 90%;
	height: 35px;
	font-size: large;
}
